<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXApplication1.Properties.Settings.LS_DBF_Для_ПереносаConnectionString"
            connectionString="Data Source=MAGW1010;Initial Catalog=LS_DBF_Для_Переноса;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>